{% extends "layout.njk" %}
{% block  content %}

    <h1>Beställningar</h1>

    <div style="overflow-x:auto;">
        <table>
        <tr>
            <th>Id</th>
            <th>Kund</th>
            <th>Datum</th>
            <th>Summa</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.customer }}</td>
                <td>{{ row.dated }}</td>
                <td>{{ row.total }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

    
{% endblock %}