<header>
    {% if loggedIn != 0 %}
        <h1>Logged in</h1>
    {% else %}
        <h1>Not logged in</h1>
    {% endif %}
</header>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {% if loggedIn != 0 %}
            <li><a href="/cart">Varukorg</a></li>
        {% endif %}
    </ul>
</nav>