<header>
    <img src="/images/logo.jpg" alt="textilestudios logotyp">
</header>
<nav>
    <div>
        <a href="/" class="left">Butik</a>
    </div>
    <div>
        {% if loggedIn != 0 %}
            <a href="/cart" class="right">Varukorg</a>
        {% else %}
            <a href="/login" class="right">Logga in</a>
            <a href="/register" class="right">Registrera</a>
        {% endif %}
    </div>
</nav>